<html>
<head></head>
<body>
<h2 align="center">{{course.course_id}}: {{course.course_name}}</h2><br>
<h3 align="center">Marksheet</h3><br>
<h4 align="center">Full Marks: {{course.full_marks}}</h4><br>
<form align="center" action="course_marks_are_set" method="POST">
{% csrf_token %}
<table align="center" border="1">
<tr><th>Student ID</th><th>Marks</th><th>Confirm</th></tr>
{% for s in student %}
<tr><td>{{s.roll}}</td><td><input type="number" name="marks[]" id="marks[]" required></td><td><input type="checkbox" name="courses[]" id="courses[]" value={{s.reg_id}} required></td></tr>
{% endfor %}
</table>
<br><input type="submit" value="Set Marks">
</form>
</body>
</html>