<html>
<body>
<a href="/go_term_result"><font color="black">update result by roll</font></a>
<br>
<a href="/marksheet_menu"><font color="black">update result by subj</font></a>
<br>
<a href="/go_opreg"><font color="black">open registration</font></a>
<br>
<a href="/go_closreg"><font color="black">close registration</font></a>
<br>
<a href="/update_result"><font color="black">update_result</font></a>
<br>
<a href="/go_nxttermbegin"><font color="black">begin next term</font></a>
<br>
<a href="/go_adminlogout"><font color="black">logout</font></a>
</body>
</html>